body > header {
    position: sticky; 
    top: 0;
    left: 0;
    right: 0;
    z-index: 6;
    background: $custom-white;
    border-bottom: $light-bg-border;
    transition: 350ms ease-in-out;

    &.nav-up {
        top: -56px;
    }
    .center-container {
        @include center-child-vertically;
        justify-content: space-between;
        height: 55px;
        padding: 0 $mobileSides;
    }
    .header-navigation > a:not(:first-of-type) {
        display: none;
    }
    .header-logo {
        @include center-child-vertically;
        gap: .5rem;

        svg {
            flex-shrink: 0;
        }
        .logo-text {
            @include text-styles(1.125rem, 700, 1.3, -3);
            flex-shrink: 0;
        }
    }
    .header-icons {
        @include center-child-vertically;
        gap: 1rem;
        height: 100%;

        & > a {
            display: none;
        }
        svg path {
            fill: $homepage-black;
        }
    }
    .search-container {
        height: 100%;
        @include center-child-vertically;
        cursor: pointer;

        &.active-search {
            #search {
                transition-delay: 0s;
                transform: rotateX(90deg);
            }
            .close {
                transition-delay: 250ms;
                transform: rotateX(0);
            }
        }
        span {
            display: none;
        }
    }
    .icon-container {
        position: relative;
    }
    .menu-container {
        height: 100%;
        @include center-child-vertically;
        cursor: pointer;

        &.active-menu {
            #menu {
                transition-delay: 0s;
                transform: rotateX(90deg);
            }
            .close {
                transition-delay: 250ms;
                transform: rotateX(0);
            }
        }
    }
    .close {
        position: absolute;
        top: 0;
        left: 0;
        transform: rotateX(-90deg);
    }
    #menu, #search, .close {
        transition: transform 250ms $transition;
    }
    #menu, #search {
        transition-delay: 250ms;
    }
    @include tablet {
        &.nav-up {
            top: -68px;
        }
        .center-container {
            height: 67px;
        }
        .header-logo {
            @include center-child-vertically;
            gap: .5rem;
    
            svg {
                width: 32px;
                height: 32px;
            }
            .logo-text {
                font-size: 1.25rem;
            }
        }
        .search-container {
            gap: .5rem;

            span {
                display: block;
            }
        }
    }
    @include laptop {
        font-size: 0.9375rem;

        .header-navigation {
            @include center-child-vertically;
            gap: 2rem;
            height: 100%;

            & > a:not(:first-of-type) {
                @include center-child-vertically;
                height: 100%;
                border-bottom: 2px solid transparent;
                margin-bottom: -2px;
                transition: 200ms ease-in-out;

                &:hover {
                    color: $primary-blue;
                    border-color: $primary-blue;
                }
            }
        }
        .menu-container {
            display: none;
        }
    }
    @include breakpoint(1065px) {
        .header-icons {
            gap: 2rem;

            & > a {
                display: block;
            }
        }
    }
    @include desktop {
        .center-container {
            width: 100%;
            max-width: 1320px;
            margin: 0 auto;
        }
    }
}
body.home > header.is-top {
    @include breakpoint(1065px) {
        background: transparent;
        border-color: transparent;

        a, .search-container {
            color: $custom-white;
        }
        svg path {
            fill: $custom-white;
        }
    }
}