// Colors
$primary-blue: #0341A7;
$accent-blue: #2274FB;
$homepage-black: #080808;
$article-black: #333333;
$custom-white: #F7F7F7;
$light-bg-grey-text: #848383;
$dark-bg-grey-text: #898989; 
$light-bg-border-color: #D4D4D4;
$dark-bg-border-color: #323232;

// Borders
$light-bg-border: 1px solid $light-bg-border-color;
$dark-bg-border: 1px solid $dark-bg-border-color;

// Transitions
$transition: cubic-bezier(0.39, 0.575, 0.565, 1);

// Side Margin
$mobileSides: 20px;